<div class="col-md-12">

  <!-- view -->
<!--  <timeline>
    <timeline-event ng-repeat="event in events" side="right">
      <timeline-badge class="{{event.badgeClass}}">
        <i class="glyphicon {{event.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{event.badgeClass}}">
        <timeline-heading>
          <h4>{{event.title}}</h4>
        </timeline-heading>
        <p>{{event.content}}</p>
        <timeline-footer ng-if="event.footerContentHtml">
          <span ng-bind-html="event.footerContentHtml"></span>
        </timeline-footer>
      </timeline-panel>
    </timeline-event>
  </timeline>-->

  <h3>{{leg.legName}}</h3>
  <h4>{{leg.legStartDate}} - {{leg.legEndDate}}</h4>

  <timeline>
    <timeline-event ng-repeat="stage in leg.stages" side="right">
      <timeline-badge class="{{stage.badgeClass}}">
        <i class="glyphicon {{stage.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{stage.badgeClass}}">
        <timeline-heading>
          <h4>{{stage.stageName}}</h4>
        </timeline-heading>
        <timeline-footer ng-if="stage.footerContentHtml">
          <span ng-bind-html="stage.footerContentHtml"></span>
        </timeline-footer>
      </timeline-panel>
    </timeline-event>
  </timeline>
</div>
