<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12 static">

  <h1>{{leg.legName}}</h1>
  <h2>{{leg.legStartDate}} - {{leg.legEndDate}}</h2>

  <timeline>
    <timeline-event ng-repeat="stage in leg.stages" side="right">
      <timeline-badge class="{{stage.badgeClass}}">
        <i class="glyphicon {{stage.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{stage.badgeClass}}">
        <timeline-heading>
          <h4>{{stage.stageName}}</h4>
        </timeline-heading>
        <timeline-footer ng-if="stage.footerContentHtml">
          <span ng-bind-html="stage.footerContentHtml"></span>
        </timeline-footer>
      </timeline-panel>
    </timeline-event>
  </timeline>
</div>
